/* You can add global styles to this file, and also import other style files */

.color-azul{
    color:  #2196F3;
}

.color-blanco{
    color: #fff;
}

.color-verde{
    color:rgba(29,242,114)
}

.color-verde-opaco{
    color:rgba(29,242,114,1)
}

.color-negro{
    color: rgba(65,65,65,1);
}

.btn-primary{
    background-color: #2196F3 ;
}

.btn-success{
    background-color: rgba(65,65,65,1) ;
}