/* You can add global styles to this file, and also import other style files */
html,body{
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    
}

body * {
  
   transition: all 1s linear;
    transition: color 1s linear;
   
   
  }

  *{ //esto para firefox porque las property no le gustan y tiene los colores pero no se hacen las transiciones de colores.
    //las property para crome e IE porque las properties se pueden hacer transiciones de colores gradients
    --myColor1Light: rgba(255,255,255);
    --myColor2Light: rgba(33,150,243);
    --myColor1Dark: rgba(65,65,65);
    --myColor2Dark: rgba(29,242,114);
  }

 @property --myColor1Light {
    syntax: '<color>';
    initial-value: rgba(255,255,255);
    inherits: false;
  }
  
  @property --myColor2Light {
    syntax: '<color>';
    initial-value: rgba(33, 150, 243);
    inherits: false;
  }

  @property --myColor1Dark {
    syntax: '<color>';
    initial-value: rgba(65,65,65);
    inherits: false;
  }
  
  @property --myColor2Dark {
    syntax: '<color>';
    initial-value: rgba(29,242,114);
    inherits: false;
  }

.background{
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    position: absolute;
    z-index:-1;
}

.light .background{
    --myColor1Dark: var(--myColor1Light);
    --myColor2Dark: var(--myColor2Light);
}


.dark  .background{
    --myColor1Light: var(--myColor1Dark);
    --myColor2Light: var(--myColor2Dark);
}


// .light .background {
//     background: linear-gradient(to bottom right, var(--myColor1Dark), 90%, var(--myColor2Dark));
//     transition: --myColor1Dark 1.2s, --myColor2Dark 1.2s;
//   }

// .dark  .background {
//     background: linear-gradient(to bottom right, var(--myColor1Light), 90%, var(--myColor2Light));
//     transition: --myColor1Light 1.2s, --myColor2Light 1.2s;
//   }




.light{
    //colores
    --color-fondo: rgba(255,255,255); //general paginas background
    --color-principal: rgba(33, 150, 243, 1); // detalles y cosas para sobresalir
    --color-secundario: rgba(65,65,65,1); // letras

    //botones
    --btn-primario-color:rgba(33, 150, 243,.9);
    --btn-primario-hover:rgba(33, 150, 243,1);
    --btn-secundario-color:rgba(65,65,65,.9);
    --btn-secundario-hover:rgba(65,65,65,1);
    
    //side-bar
    --side-bar-background-color: rgba(65,65,65,.8);
    --side-bar-box-shadow: 0 20px 35px rgba(0,0,0,.1);  
    
    //pill
    --pill-background-color: var(--side-bar-background-color);
    --pill-background-color-hover: var(--color-secundario);
    --pill-color: var(--color-fondo);

    //inputs
    --input-border-color: rgba(33, 150, 243, .3);
    --input-box-shadow-focus: 0 0 0 0.25rem rgba(33, 150, 243,.25);

    --input-label-color: rgba(65,65,65,.7);
}


.dark{
    --color-fondo: rgba(65,65,65,1);
    --color-principal: rgba(29,242,114);
    --color-secundario: rgba(255,255,255);

     //botones
     --btn-primario-color:rgba(29,242,114,.9); 
     --btn-primario-hover:rgba(29,242,114,1);
     --btn-secundario-color:rgba(255,255,255,.1);
     --btn-secundario-hover:rgba(255,255,255,.2);

    //side-bar
    --side-bar-background-color: rgba(255,255,255,.1);
    --side-bar-box-shadow: 0 20px 35px rgba(255,255,255,.1);

    //pill
    --pill-background-color: var(--side-bar-background-color);
    --pill-background-color-hover: var(--btn-secundario-hover);
    --pill-color: var(--color-principal);

    //inputs
    --input-border-color: rgba(29,242,114, .3);
    --input-box-shadow-focus: 0 0 0 0.25rem rgba(29,242,114,.25);

    --input-label-color: rgba(255,255,255,.6);




}


.color-fondo{
    color: var(--color-fondo)
}

.color-principal{
    color: var(--color-principal);
}

.color-secundario{
    color: var(--color-secundario);
}



.btn-principal , .btn-principal:disabled{
    background-color: var(--btn-primario-color);
    color: var(--color-fondo);
    border: 1px solid var(--color-principal);
    transition: background-color 1s linear;
    transition: color 1s linear;
   
}

.btn-principal:hover{
    background-color: var(--btn-primario-hover);
    color: var(--color-fondo);
    border: 1px solid var(--color-principal);
   
}

.btn-principal:active{
    background-color: var(--btn-primario-hover) !important;
    color: var(--color-fondo) !important;
    border-color: var(--color-principal)!important;
   
   
}


.btn-secundario{
    background-color: var(--btn-secundario-color);
    transition: background-color 1s linear;
    transition: color 1s linear;

}

.btn-secundario:hover{
    background-color: var(--btn-secundario-hover);
}

.btn-secundario:active{
    background-color: var(--btn-secundario-hover) !important;
}

.margin-second-line{ //this one picks ngx-typed class only from global css clases thats why is here
    margin-left: 60px !important;
}

.invalid-feedback{
    display: inline-block !important;
    opacity: 0 !important;
}
.is-invalid~.invalid-feedback{
    opacity: 1 !important;
}

.is-invalid~.invalid-feedback .save-space{
    opacity: 1 !important;
    display: none;
}

.typed-cursor{
    font-weight: 400;
}

@media(min-width:1751px){
  
    .typed-cursor{
        font-size: 55px !important;
    }
}

@media(min-width:751px) and (max-width:1750px){
    .typed-cursor{
        font-size: 47px !important;
    } 
}


@media(max-width:750px){
    .margin-second-line{
        margin-left: 30px !important;
    }

    .typed-cursor{
        font-size: 25px !important;
    }
}

