<header class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand mylogo color-secundario"><span class="color-principal">&lt;</span>Jesus<span class="color-principal">Dev&#47;&gt;</span></a>
      <form class="d-flex">
        <div class="d-flex mx-2">
            <i class="fa fa-sun-o color-secundario" aria-hidden="true"></i>
            <div (change)="toogleTheme()">
              <app-switcher [isChecked]="!isLightTheme"></app-switcher>
            </div>
            <i class="fa fa-moon-o color-secundario" aria-hidden="true"></i>
        </div>
        <div class="d-flex mx-2">
            <div class="vertical-align"><img class="flag" src="../../../assets/flags/spain_flag.jpg" alt="spanish"></div>
            <app-switcher></app-switcher>
            <div class="vertical-align"><img class="flag" src="../../../assets/flags/UK_flag.png" alt="english"></div>
        </div>
      </form>
    </div>
  </header>

