.navbar{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    max-width: 100%;
    background-color: transparent !important;
}

.color-secundario:hover{
    color: var(--color-secundario);
}

.vertical-align{
    position: relative;
    top: -3.4px;
    font-size: 14px;
}

.mylogo{
    font-size: 27px;
    font-weight: 700;
}

.flag{
    width: 20px;
    height: 16px;
}



a{
    border-radius: 20px;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}


@media(max-width: 600px){
    form{
        margin-top: 2px;
        flex-direction: column;
    }
}

