*:not(.background){
  z-index: 2;
}

.background{
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    max-height: max-content;
    position: absolute;
    z-index: 1;
  
}


.light .background {
  background: radial-gradient(var(--myColor2Dark) 1% , var(--myColor1Dark) 70% );
  transition: --myColor1Dark .8s, --myColor2Dark .8s;
}

.dark  .background {
  background: radial-gradient(var(--myColor2Light) 1%,var(--myColor1Light) 60%, var(--myColor1Light) 1% );
  transition: --myColor1Light .8s, --myColor2Light .8s;
}

////////////////////

.custom-height{
  min-height: 100vh;
  max-height: fit-content;
  
}
.certificates{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -100px;
  margin-left: 70px;
}

@media(max-width: 749px){
  .certificates{
    margin-top: -80px;
    margin-left: 0;
    width: 100vw;
    max-width: 100%;
  }
 
}