<div class="swiper-decoration">
    <span class="key-decoration">&#123;</span>

    <div class="logos" *ngIf="logos.length > 0">

        <div class="logos-slide">
            <div class="logo-slide-container" *ngFor="let logo of logos">
                <img src= {{logo.imgSource}} />
                <div class="background-hover d-flex align-items-center justify-content-center">
                    <span class="hover-text">{{logo.label1}} <span *ngIf="logo.label2"><br>{{logo.label2}}</span></span>
                </div>
            </div>
        </div>
        <div class="logos-slide">
            <div class="logo-slide-container" *ngFor="let logo of logos">
                <img src= {{logo.imgSource}} />
                <div class="background-hover d-flex align-items-center justify-content-center">
                    <span class="hover-text">{{logo.label1}} <span *ngIf="logo.label2"><br>{{logo.label2}}</span></span>
                </div>
            </div>
        </div>
    
    </div>
    <span class="key-decoration">&#125;</span>
</div>
 







 