<div class="swiper-decoration">
    <span class="key-decoration">&#123;</span>

    <div class="logos">

        <div class="logos-slide">
            <div class="logo-slide-container">
                <img src="../../../assets/logos/html.png" />
                <div class="background-hover d-flex align-items-center justify-content-center">
                    <a class="hover-text"> HTML </a>
                </div>
            </div>
            <div class="logo-slide-container">
                <img src="/../../../assets/logos/CSS3.png" />
                <div class="background-hover d-flex align-items-center justify-content-center">
                    <a class="hover-text"> CSS </a>
                </div>
            </div>
            <div class="logo-slide-container">
                <img src="/../../../assets/logos/bootstrap.png" />
                <div class="background-hover d-flex align-items-center justify-content-center">
                    <a class="hover-text"> Bootstrap </a>
                </div>
            </div> 
            <div class="logo-slide-container">
                <img src="/../../../assets/logos/ts.png" />
                <div class="background-hover d-flex align-items-center justify-content-center">
                    <a class="hover-text"> TypeScript </a>
                </div>
            </div> 
            <div class="logo-slide-container">      
                <img src="/../../../assets/logos/angular.png" />
                <div class="background-hover d-flex align-items-center justify-content-center">
                    <a class="hover-text"> Angular </a>
                </div>
            </div>
             <div class="logo-slide-container">
                <img src="/../../../assets/logos/rxjs.png" />
                <div class="background-hover d-flex align-items-center justify-content-center">
                    <a class="hover-text"> RxJs </a>
                </div>
            </div>
            <div class="logo-slide-container">
                <img src="/../../../assets/logos/transloco.png" />
                <div class="background-hover d-flex align-items-center justify-content-center">
                    <a class="hover-text"> Transloco </a>
                </div>
            </div>
        
        </div>
    
        <div class="logos-slide">
            <div class="logo-slide-container">
                <img src="../../../assets/logos/html.png" />
                <div class="background-hover d-flex align-items-center justify-content-center">
                    <a class="hover-text"> HTML </a>
                </div>
            </div>
            <div class="logo-slide-container">
                <img src="/../../../assets/logos/CSS3.png" />
                <div class="background-hover d-flex align-items-center justify-content-center">
                    <a class="hover-text"> CSS </a>
                </div>
            </div>
            <div class="logo-slide-container">
                <img src="/../../../assets/logos/bootstrap.png" />
                <div class="background-hover d-flex align-items-center justify-content-center">
                    <a class="hover-text"> Bootstrap </a>
                </div>
            </div> 
            <div class="logo-slide-container">
                <img src="/../../../assets/logos/ts.png" />
                <div class="background-hover d-flex align-items-center justify-content-center">
                    <a class="hover-text"> TypeScript </a>
                </div>
            </div> 
            <div class="logo-slide-container">      
                <img src="/../../../assets/logos/angular.png" />
                <div class="background-hover d-flex align-items-center justify-content-center">
                    <a class="hover-text"> Angular </a>
                </div>
            </div>
             <div class="logo-slide-container">
                <img src="/../../../assets/logos/rxjs.png" />
                <div class="background-hover d-flex align-items-center justify-content-center">
                    <a class="hover-text"> RxJs </a>
                </div>
            </div>
            <div class="logo-slide-container">
                <img src="/../../../assets/logos/transloco.png" />
                <div class="background-hover d-flex align-items-center justify-content-center">
                    <a class="hover-text"> Transloco </a>
                </div>
            </div>
        </div>

    </div>
    <span class="key-decoration">&#125;</span>
</div>
 







 