
  /* background */
// .light .background {
//   background: linear-gradient(to top left, var(--myColor1Dark), 90%, var(--myColor2Dark));
//   transition: --myColor1Dark .8s, --myColor2Dark .8s;
// }

// .dark  .background {
//   background: linear-gradient(to top left, var(--myColor1Light), 90%, var(--myColor2Light));
//   transition: --myColor1Light .8s, --myColor2Light .8s;
// }

  /* sizing section */
.custom-height{
  min-height: 100vh;
}

.row{
  height: 100%;
  justify-content: center;
  align-items: center;
}

  /* stiling main title */

h1{
  color: var(--color-secundario);
}

  /* styling form */

.form-container{
  display: flex;
  justify-content: center;
}

.my-form{
  width: 700px;
}

.form-inputs{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

 ///// custom inputs - text-area
 
 .input-width{
  width: 340px;
}

.text-area-container{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.input-mb{
  margin-bottom: -7px;
}

.text-area-height{
  height: 100px;
}
 
//ngx-spinner-text-color
h3{
  color : var(--color-secundario);
}

 textarea{
  background-color: transparent;
  border-color: var(--input-border-color) !important;
  color: var(--color-secundario);

}

textarea::placeholder{
  color: var(--input-label-color);
}

textarea:focus{
  background-color: transparent;
  color: var(--color-secundario);
}

.form-control:focus{
  box-shadow: var(--input-box-shadow-focus);
}


button{
  min-width: 100px;
}

/////////////// reponsive ////////////////////

@media(min-width: 1751px){
  .text-area-height{
    height: 200px;
  }
}

@media(max-width: 750px){

  .form-inputs{
    justify-content: center;
  }

  .text-area-container{
    width: 340px;
  }

  .form-container{
    margin-bottom: 50px;
  }



}