<section class="main-section"> <!-- el de este esta en el header para que llegue arriba del todo -->
    <app-main></app-main>
</section>

<section id="{{'navigation.about' | transloco}}" class="normal-section">
    <app-about></app-about>
</section>

<section  id="{{'navigation.projects' | transloco}}" class="normal-section">
    <app-projects></app-projects>
</section>

<section  id="{{'navigation.studies' | transloco}}" class="normal-section">
    <app-certificates></app-certificates>
</section>

<section  id="{{'navigation.contact' | transloco}}" class="normal-section">
    <app-contact></app-contact>
</section>