
 <app-nav-bar></app-nav-bar>
<div [class]="(theme$ | async).themeToAdd">
    <div
        spyTarget [spyTargetId]="'home'"
        id="{{'navigation.home' | transloco}}" 
        class="section bg bg-bottom-right"> 
        <app-main></app-main>
    </div>
    
    <div
        spyTarget [spyTargetId]="'about'" 
        id="{{'navigation.about' | transloco}}" 
        class="section bg bg-top-right">
        <app-about></app-about>
    </div> 

    <div  
        spyTarget [spyTargetId]="'studies'" 
        id="{{'navigation.studies' | transloco}}" 
        class="section bg bg-center"
         >    
        <app-certificates></app-certificates>
    </div>
    
    <div
        spyTarget [spyTargetId]="'projects'" 
         id="{{'navigation.projects' | transloco}}" 
         class="section bg bg-bottom-left">
        <app-projects></app-projects>
    </div> 
     
    <div 
        spyTarget [spyTargetId]="'contact'" 
        id="{{'navigation.contact' | transloco}}" 
        class="section bg bg-top-left">
        <app-contact></app-contact>
    </div>

</div> 

