
.light .background {
    background: linear-gradient(to top right, var(--myColor1Dark), 90%, var(--myColor2Dark));
    transition: --myColor1Dark 1.2s, --myColor2Dark 1.2s;
  }

  .dark  .background {
    background: linear-gradient(to top right, var(--myColor1Light), 90%, var(--myColor2Light));
    transition: --myColor1Light 1.2s, --myColor2Light 1.2s;
  }

.my-container-height{
    height: 100vh;
}

.swiper-decoration{
    display: flex;
}

.about-title{
    position: relative;
    top: 25px;
    color: var(--color-secundario);
}

.about-text{
    color: var(--color-secundario);
    text-align: center;
    font-size: 20px;
}

.swipper-about{
    position: relative;
    top: -40px;
}






@media(min-width: 800px) and (max-width: 1700px){
    .about-text{
        margin-left: 5rem !important;
    }
}
