*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;

    box-sizing: border-box;
}

.my-side-bar{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}




