<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand mylogo color-negro">Jesus<span class="color-azul">Dev</span><i class="fa fa-code" aria-hidden="true"></i></a>
      <form class="d-flex" role="search">
        <div class="d-flex mx-2">
            <i class="fa fa-sun-o color-negro" aria-hidden="true"></i>
            <app-switcher></app-switcher>
            <i class="fa fa-moon-o color-negro" aria-hidden="true"></i>
        </div>
        <div class="d-flex mx-2">
            <div class="vertical-align color-negro"><img class="flag" src="../../../assets/flags/spain_flag.jpg" alt="spanish"></div>
            <app-switcher></app-switcher>
            <div class="vertical-align color-negro"><img class="flag" src="../../../assets/flags/UK_flag.png" alt="english"></div>
        </div>
      </form>
    </div>
  </nav>
