    <nav class="my-side-bar">
        <ul>
            
            <app-side-bar-item
                [icon]="'fa fa-home'"
                [label]="'Inicio'"
                [link]="'#'"
                [isFirst]="true"
            >
            </app-side-bar-item>
    
            <app-side-bar-item
                [icon]="'fa fa-user'"
                [label]="'Sobre Mi'"
                [link]="'#'"
            >
            </app-side-bar-item>
    
            <app-side-bar-item
                [icon]="'fa fa-briefcase'"
                [label]="'Proyectos'"
                [link]="'#'"
            >
    
            </app-side-bar-item>
    
            <app-side-bar-item
                [icon]="'fa fa-graduation-cap'"
                [label]="'Certificados'"
                [link]="'#'"
            >
            </app-side-bar-item>
    
            <app-side-bar-item
                [icon]="'fa fa-phone'"
                [label]="'Contacto'"
                [link]="'#'"
                [isLast]="true"
            >
        </app-side-bar-item>
            
        </ul>    
    </nav>


