*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

.my-side-bar{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}

.items-container{
    display: flex;
    flex-direction: column;
}

@media(max-width:749px){
    .items-container{
        flex-direction: row;
    }

    .my-side-bar{
        width: 100vw;
        top: auto;
        transform: initial;
        bottom: 0 !important;
        
        
    }
}




