//custom position of the gradient
// .light .background {
//     background: linear-gradient(to bottom right, var(--myColor1Dark), 90%, var(--myColor2Dark));
//     transition: --myColor1Dark .8s, --myColor2Dark .8s;
//   }

//   .dark  .background {
//     background: linear-gradient(to bottom right, var(--myColor1Light), 90%, var(--myColor2Light));
//     transition: --myColor1Light .8s, --myColor2Light .8s;
//   }

  ///////////////////////////


  .main-text-section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 30px;
    flex-direction: column;
  }

  .margin-second-line{ //this class is on main component.ts not in html
    margin-left: 60px !important;
  }

.content-height{
    height: 100vh;
}


.img-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.my-img{
    width: 270px;   
   filter: drop-shadow(0 0 .3rem var(--color-secundario));
   margin-right: -65px;
}

.custom-width{
    width: 625px;
}

.custom-height{
    height: 175px;
}

.oculto{
    opacity: 0;
    
}

.visible{
    transition: opacity 1s;
    opacity: 1;
}

.main-title{
    font-size: 50px;
    font-family: monospace;
    font-weight: 700;
}

.main-title .typed-cursor{
    font-weight:100;
}

.btn-fit{
    margin-left: -60px;
}

.btn-width{
    min-width: 100px;
}

.btn-width i{
    font-size: 20px;
    color: var(--color-fondo);
}

@media(min-width:750px) and (max-width:770px){
    .my-img{
        width:210px;
    } 
    .main-title{
        font-size: 30px;
    }

    .main-title .typed-cursor{
        font-size: 32px !important;
    }
    
    .custom-width{
        width: 395px;
    }

    .custom-height{
        height: 145px;
    }

    .col-sm-12{
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}


@media(min-width:1751px){
    .my-img{
        display: relative;
        left: 7%;
    }
    .custom-width{
        padding-left: 5%;
    }
}

@media(min-width:771px) and (max-width: 1750px){
    .my-img{
        width:240px;
        position: relative;
        left: 10%;
    } 
    .main-title{
        font-size: 40px;
    }

    
    .custom-width{
        width: 545px;
        padding-left: 5%;
    }

    .custom-height{
        height: 145px;
    }
    .btn-fit{
        margin-left: -80px;
    }
}

@media(max-width:749px){
    .my-img{
        width: 190px;
        margin-right: 0px;
        margin-top: -40px;
        border-radius: 20px;
    }

    .main-title{
        font-size: 24px;
        margin: auto;
    }
    .custom-width{
        width: 100vw;
        max-width: 100%;
    }

    .custom-height{
        height: 0;
    }

    .img-container{
        justify-content: center;
        align-items: flex-end;
        
    }

    .main-text-section{
        justify-content: flex-start;
        align-items: center;
    }

    .margin-second-line{
        margin-left: 0px !important;
    }

    .custom-margin{
        margin-left: 0px;
    }

    .me-3{
        margin-right: 0 !important;
    }

    .mt-2{
        margin-top: 0px;
        padding-top: 90px;
    }

    .btn-fit{
        margin-left: 0px;
    }

    .mobile-text-fit{
        width: 300px;
        margin-left: 5px;
    }

    .center-text{
        display: flex;
        justify-content: center;
    }
}



