
//al fin consegui hacer lo de cambio de color del gradient aunque ni yo mismo lo entiendo bien :D

@property --myColor1Light {
    syntax: '<color>';
    initial-value: rgba(255,255,255);
    inherits: false;
  }
  
  @property --myColor2Light {
    syntax: '<color>';
    initial-value: rgba(33, 150, 243);
    inherits: false;
  }

  @property --myColor1Dark {
    syntax: '<color>';
    initial-value: rgba(65,65,65);
    inherits: false;
  }
  
  @property --myColor2Dark {
    syntax: '<color>';
    initial-value: rgba(29,242,114);
    inherits: false;
  }

.background{
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    position: absolute;
    top: 0;
    z-index:-1;
}

.light .background {
    background: linear-gradient(to bottom right, var(--myColor1Dark), 90%, var(--myColor2Dark));
    transition: --myColor1Dark 1.2s, --myColor2Dark 1.2s;
  }

.light .background{
    --myColor1Dark: var(--myColor1Light);
    --myColor2Dark: var(--myColor2Light);
}

.dark  .background {
    background: linear-gradient(to bottom right, var(--myColor1Light), 90%, var(--myColor2Light));
    transition: --myColor1Light 1.2s, --myColor2Light 1.2s;
  }

.dark  .background{
    --myColor1Light: var(--myColor1Dark);
    --myColor2Light: var(--myColor2Dark);
}

//////////////////////////////////////////////////////////////////////////////////
  


/*.background-color{
    background: linear-gradient(to bottom right, var(--myColor1),90%, var(--myColor2));
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
  
}*/

.content-height{
    height: 100vh;
}

.my-img{
    width: 270px;   
   filter: drop-shadow(0 0 .3rem var(--color-secundario));
   margin-right: -65px;
}

.custom-width{
    width: 610px;
}

.custom-height{
    height: 175px;
}

.oculto{
    opacity: 0;
    
}

.visible{
    transition: opacity 1s;
    opacity: 1;
}

.main-title{
    font-size: 55px;
    font-family: monospace;
    font-weight: 700;
}




