<div *ngIf="(theme$ | async) !== null ">
    <div #backgroundThemeMain class="{{(theme$ | async).themeToAdd}}">
        <div class="background"></div>
    </div>
</div>

<div class="container">

    <ng-container *transloco="let t">
        <div class="row content-height">
            <div class="col-md-4 col-sm-12 img-container">
                <img  class="my-img animate__animated animate__fadeIn " src="/assets/profile/gimp_img_portfolio_light.png" alt="imagen_perfil">
            </div>
    
            <div class="col-md-8 col-sm-12 main-text-section">
                <div class="custom-width mb-5">
                    <div class="custom-height custom-margin">
                        <ngx-typed-js 
                            [strings]="mainText"
                            [cursorColor]="'var(--color-principal)'"
                            [shuffle]="false"
                            [contentType]="'html'"
                            [typeSpeed]="45"
                            (completed)="showButtons = true"
                        >
                        <div class="main-title color-principal center-text me-3">
                            <div class="mobile-text-fit">
                                > 
                                <span class="typing"></span>
                            </div>
                        </div>
                      </ngx-typed-js>

                    </div>
                    <div [ngClass]="{'oculto': !showButtons, 'visible': showButtons}" class="d-flex justify-content-center text-center mt-2 btn-fit">
                        <button routerLink="cv" class="btn btn-primary mx-2 btn-principal"> {{t('main.downloadCvBtn')}}</button>
                        <a href="https://www.linkedin.com/in/jesus-nogueragarcia" target="_blank" class="btn btn-success mx-2 btn-secundario btn-width">
                            LinkedIn 
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
    </ng-container>
   
</div>